$color-green: #2CEB45;
$color-dark: #2C2C2C;
$color-background: #F5F5F5;
$color-white: #FFFFFF;
$color-blue: #3C96FF;
$color-pink: #FC1A94;
$color-gray: #565656;
$color-light-gray: #F0F0F0;
$color-black: #292929;
$color-grayish: #E9E9E9;
$color-new-gray: #6C6C6C;
$color-dark-green: #16A34A;
$color-secondary-black: #303633;
$color-secondary-gray: #A9ABAA;